.wrapper{
    display: flex;
    align-items: center;
    background-color: #4d5860;
    color: #ffffff;
    padding: 15px;
}
.item1 {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    padding: 0;
    margin: 0;
}

.item1_active {
    visibility: visible;
    opacity: 1;
    padding: 0 55px;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

}


.item  {
    margin-right: 10px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;}

.item:hover {
    color: #000;
    text-decoration: none;
}

.menu_btm {
    cursor: pointer;
    font-size: 40px;
    color: #ffffff;
    transition: all 0.5s;
}

.menu_btm:hover {
    color: #000000;
}